<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header">
    <span th:text="${sessionData.user.name}">UserName</span>&nbsp;
    <a shortcut="H" th:href="${(#mvc.url('CUI#home')).build()}" href="#">Home</a>&nbsp;
    <a th:href="${(#mvc.url('CUI#logout')).build()}" href="#">Logout</a>&nbsp;
    <a th:href="${(#mvc.url('CUI#changePassword')).build()}" href="#">Change password</a>&nbsp;
    <span th:if="${isAdmin}"><a th:href="${(#mvc.url('CUI#users')).build()}" href="#">Users</a>&nbsp;</span>
</div>

</body>
</html>
