<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${@environment.getProperty('config.name')}">Page title</title>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">

    <script src="/js/libs/jquery-3.3.1.min.js" ></script>
    <script src="/js/libs/underscore-min-1.9.1.js"></script>
    <script src="/js/libs/react.development-16.8.6.js"></script>
    <script src="/js/libs/react-dom.development-16.8.6.js"></script>
    <script src="/js/libs/material-ui.development-4.2.1.js"></script>
    <script src="/js/libs/react-router-dom-5.0.1.min.js"></script>

    <link rel="stylesheet" href="/css/local-version/roboto-300-400-500.css" />
    <link rel="stylesheet" href="/css/local-version/mui-icons.css">

    <link rel="stylesheet" th:href="'/assets/css/' + ${@environment.getProperty('app.version')} + '/style.css'">

    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/functions.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/be-integration.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/debug-data.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/messages.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-imports.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/NewTextInput.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/TextNodeEditable.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/ImageNodeComponent.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/FolderComponent.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/NodeViewActions.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/ImportDialog.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/ConfirmActionDialog.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/NodeNameEditable.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/Views.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/NodeView.js'"></script>

    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/chess/ChessBoardCell.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/chess/ChessBoard.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/chess/InitialPosition.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/chess/History.js'"></script>
    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/chess/ChessComponent.js'"></script>

    <script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/react-components/ViewSelector.js'"></script>

</head>
<body>
<div id="react-container"></div>

<script th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/index.js'"></script>
</body>
</html>
