<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:replace="common-scripts :: jquery" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: functions" src="../../js/functions.js"></script>
    <script type="text/javascript">
        focusOnLoad('#loginField');
    </script>
</head>
<body>

<form th:action="${(#mvc.url('CUI#loginPost')).build()}" th:object="${loginForm}" method="post">
    <table>
        <tr>
            <td>Login</td>
            <td><input id="loginField" type="text" th:field="*{login}"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login"/></td>
        </tr>
    </table>
</form>


</body>
</html>
