<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="common-header :: header"></div>

<div th:replace="path :: path"/>

<table>
    <tr th:each="childPar : ${paragraph.childParagraphs}">
        <td>
            <a th:href="@{paragraph(id=${childPar.id})}" th:text="${childPar.name}"></a>
        </td>
    </tr>
    <tr th:each="topic : ${paragraph.topics}">
        <td>
            - <a th:href="@{topic(id=${topic.id})}" th:text="${topic.name}"></a>
        </td>
    </tr>
</table>

</body>
</html>
