<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:replace="common-scripts :: css-bootstrap" href="../../css/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:replace="common-header :: header"></div>
<div>
    <a th:href="@{/editParagraph(parentId=${paragraph.id})}" href="#">Create new paragraph</a>&nbsp;
    <a th:unless="${paragraph.parentParagraph == null}" th:href="@{/editParagraph(id=${paragraph.id})}" href="#">Edit this paragraph</a>&nbsp;
</div>

<div th:replace="path :: path"/>

<table>
    <tr th:each="childPar : ${paragraph.childParagraphs}">
        <td>
            <a th:href="@{paragraph(id=${childPar.id})}" th:text="${childPar.name}"></a>
        </td>
    </tr>
    <tr th:each="topic : ${paragraph.topics}">
        <td>
            - <a th:href="@{topic(id=${topic.id})}" th:text="${topic.name}"></a>
        </td>
    </tr>
</table>

</body>
</html>
