<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="common-header :: header"></div>

<div th:replace="path :: path"/>
<div style="margin-top: 20px">
    <a th:unless="${isLeftmostSibling}" th:href="@{/furthestSibling(id=${topic.id}, toTheRight=false)}">[[[&nbsp;&nbsp;</a>
    <a th:unless="${isLeftmostSibling}" th:href="@{/nextSibling(id=${topic.id}, toTheRight=false)}">&lt;&lt;Prev</a>
    <span th:if="${isLeftmostSibling}">This is the first topic.</span>
    &nbsp;&nbsp;
    <a th:unless="${isRightmostSibling}" th:href="@{/nextSibling(id=${topic.id}, toTheRight=true)}">Next&gt;&gt;</a>
    <a th:unless="${isRightmostSibling}" th:href="@{/furthestSibling(id=${topic.id}, toTheRight=true)}">&nbsp;&nbsp;]]]</a>
    <span th:if="${isRightmostSibling}">This is the last topic.</span>
</div>
<h4>
    <span th:text="${topic.name}" />
</h4>
<div>
    <a th:href="@{/editTopic(id=${topic.id})}" href="#">Edit</a>&nbsp;
    <a th:href="@{/editTopic(parentId=${topic.paragraph.id}, topicType='synopsis')}" href="#">Create new topic</a>&nbsp;
</div>

<div>
    <a th:unless="${showImages}" th:href="@{/topic(id=${topic.id},showImages=true)}">Show images</a>&nbsp;
    <a th:if="${showImages}" th:href="@{/topic(id=${topic.id})}">Hide images</a>
</div>

<div th:if="${showImages}" th:each="content : ${topic.contents}">
    <img th:if="${content instanceof T(org.igye.outline.model.Image)}"
         th:src="@{/topicImage/{imgId}(imgId=${content.id})}"/>
    <span th:if="${content instanceof T(org.igye.outline.model.Text)}" th:text="${content.text}"/>
</div>

</body>
</html>
