<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="common-header :: header"></div>

<div th:replace="path :: path"/>

<div th:text="${topic.name}"/>
<div>
    <a th:unless="${isFirstTopic}" th:href="@{/prevTopic(id=${topic.id})}">&lt;&lt;Prev</a>
    <span th:if="${isFirstTopic}">This is the first topic.</span>
    <a th:unless="${isLastTopic}" th:href="@{/nextTopic(id=${topic.id})}">Next&gt;&gt;</a>
    <span th:if="${isLastTopic}">This is the last topic.</span>
</div>

<div>
    <a th:unless="${showImages}" th:href="@{/topic(id=${topic.id},showImages=true)}">Show images</a>&nbsp;
    <a th:if="${showImages}" th:href="@{/topic(id=${topic.id})}">Hide images</a>
</div>

<div th:if="${showImages}" th:each="content : ${topic.contents}">
    <img th:if="${content instanceof T(org.igye.outline.model.Image)}"
         th:src="@{/topicImage/{imgId}(imgId=${content.id})}"/>
    <span th:if="${content instanceof T(org.igye.outline.model.Text)}" th:text="${content.text}"/>
</div>

</body>
</html>
