.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
.sortable li span { position: absolute; margin-left: -1.3em; }

.nav-buttons td {padding: 5px;}

.icons-table {
    margin: 10px 25px;
}

.icons-table table, .icons-table td {
    border: 1px solid lightgrey;
}

.icons-table td {
    text-align: center;
}

.icons-table td a {
    display: block;
    height: 100%;
}

.icons-table td a:hover {
    outline: 1px solid blue;
}

.outline-bordered-table table, .outline-bordered-table td {
    border: 1px solid lightgrey;
}

.main-text-table {
    margin: 20px;
}

.main-text-table td {
    padding: 5px;
}

.main-text-table tr:hover {
    background-color: #f5e79e;
}

.word-ignored {
    color: lightslategray;
    font-family: "Courier New";
    /*border: 1px solid lightgrey;*/
}

.word-general {
    font-family: "Courier New";
    /*border: 1px solid lightgrey;*/
}

.word-to-learn-no-group {
    font-style: italic;
    font-family: "Arial";
    text-decoration: underline;
    border: 2px solid red;
}

.word-to-learn {
    font-style: italic;
    font-family: "Arial";
    text-decoration: underline;
    /*border: 1px solid lightgrey;*/
}

.word-selected-group {
    font-style: italic;
    font-family: "Arial";
    font-weight: bold;
    text-decoration: underline;
    /*font-family: "Courier New";*/
    /*border: 1px solid lightgrey;*/
}

#sentence-to-learn-area {
    margin: 10px;
}

.current-sentence-number {
    font-weight: bold;
    margin-right: 10px;
}

.incorrect-user-input {
    border: 2px solid red;
}

.correct-user-input {
    border: 2px solid green;
}

.focusable-button:focus {
    background-color: green;
}

.select-editable {
    position:relative;
    background-color:white;
    border:solid grey 1px;
    width:120px;
    height:18px;
}
.select-editable select {
    position:absolute;
    top:0px;
    left:0px;
    font-size:14px;
    border:none;
    width:140px;
    margin:0;
}
.select-editable input {
    position:absolute;
    top:0px;
    left:0px;
    width:100px;
    padding:1px;
    font-size:12px;
    /*border:none;*/
}
.select-editable select:focus, .select-editable input:focus {
    outline:none;
}